.container-fluid {background-color:#f8f5f1}

.homepage-content {
  background-color: white;
  padding: 75px;
  margin-bottom:25%;
  margin-left:4ems;
  width: 35%;
}


p {
   font-family: Chromatica, sans-serif;
   line-height:32px;
}

.image{margin-left:10%;}

.btn{
  height: auto;
  border: 2px solid;
  border-radius:0;
  padding: 12px 48px;
  position: absolute;
  margin-top:3em;
  margin-left:9em;
  filter: drop-shadow(5px 5px 0.5px #bfb33b);
}