.title {
    color: green;
}
@font-face{
    font-family: chromatica;
    src: url(fonts/ChromaticaTrial-Regular.otf);
}
@font-face{
    font-family: hellenic;
    src: url(fonts/HellenicTypewriterTrial-Regular.otf);
}
*{
    font-family: chromatica;
}